@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
    @apply flex flex-col items-center gap-5 font-sans antialiased;
}

h1 {
    @apply text-4xl font-bold;
}
h2 {
    @apply text-2xl font-semibold text-gray-900 dark:text-white;
}

.link {
    @apply font-medium text-blue-600 dark:text-blue-500 hover:underline;
}

.input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.input-title {
    @apply mb-5 text-2xl font-bold h-full w-full border-b border-gray-900 bg-transparent pt-4 pb-1.5 font-sans text-gray-700 outline outline-0 transition-all placeholder-shown:border-gray-200 focus:border-gray-900 focus:outline-0 disabled:border-0 disabled:bg-gray-50;
}
.input-checkbox {
    @apply text-blue-600 border-gray-300 rounded shrink-0 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800;
}

.label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

.button-primary {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

.button-danger {
    @apply flex flex-row items-center justify-center gap-2 px-5 py-3 text-sm font-medium text-white bg-red-700 rounded-lg focus:outline-none hover:bg-red-800 focus:ring-4 focus:ring-red-300 me-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
}

.button-close {
    @apply inline-flex items-center justify-center w-8 h-8 text-sm text-gray-400 bg-transparent rounded-lg hover:bg-gray-200 hover:text-gray-900 ms-auto dark:hover:bg-gray-600 dark:hover:text-white;
}

.button-auth {
    @apply inline-flex items-center px-3 py-2 text-sm font-medium text-black transition border border-transparent gap-x-2 rounded-xl bg-lime-400 hover:bg-lime-500 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-lime-500;
}

.pill {
    @apply bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300;
}

//* NAVIGATION
.nav-link {
    @apply relative inline-block text-black dark:text-white hover:text-gray-600;
    &.active {
        @apply before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-lime-400;
    }
}

//* GRADIENT
.gradient {
    &-green {
        @apply from-green-500 via-green-600 to-green-700 hover:bg-gradient-to-br focus:ring-green-300 dark:focus:ring-green-800;
    }

    &-red {
        @apply from-red-500 via-red-600 to-red-700 hover:bg-gradient-to-br focus:ring-red-300 dark:focus:ring-red-800;
    }

    &-yellow {
        @apply from-yellow-500 via-yellow-600 to-yellow-700 hover:bg-gradient-to-br focus:ring-yellow-300 dark:focus:ring-yellow-800;
    }

    &-purple {
        @apply from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-purple-300 dark:focus:ring-purple-800;
    }

    &-pink {
        @apply from-pink-500 via-pink-600 to-pink-700 hover:bg-gradient-to-br focus:ring-pink-300 dark:focus:ring-pink-800;
    }

    &-orange {
        @apply from-orange-500 via-orange-600 to-orange-700 hover:bg-gradient-to-br focus:ring-orange-300 dark:focus:ring-orange-800;
    }

    &-teal {
        @apply from-teal-500 via-teal-600 to-teal-700 hover:bg-gradient-to-br focus:ring-teal-300 dark:focus:ring-teal-800;
    }
}

//* COMPONENTS
.course-card {
    @apply bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700;

    &__image {
        @apply w-full h-32 mb-3 rounded-md shadow-lg;
    }

    &__title {
        @apply mb-1 text-xl font-medium text-gray-900 dark:text-white text-center;
    }

    &__description {
        @apply text-sm text-gray-500 dark:text-gray-400 text-center;
    }

    &__view-link {
        @apply flex items-center justify-center my-3;
    }

    &__stats {
        @apply bottom-0 left-0 flex justify-center w-full mt-2 leading-none text-center;
    }

    &__stats-icon {
        @apply w-5 h-5 me-1 fill-current text-gray-500 dark:text-gray-400 mb-5;
    }
}
